@font-face {
    font-family: sorryFont;
    src: url(../Fonts/Salmon.ttf);
}

@font-face {
    font-family: mainFont;
    src: url(../Fonts/Poppins-Regular.ttf);
}

html{
    scroll-behavior: smooth;
    font-family: mainFont;
}

body{
    padding:0;
    margin:0;
}

.box{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
    height:100vh;
}

#p1{
    font-family: sorryFont;
    font-weight: bold;
    font-size:5em;
    text-align:center;
}

#p2{
    font-size: 2em;
    width:80%;
    text-align:center;
}

@media screen and (max-width: 989px) and (min-width:600px){

    #p1{
        font-family: sorryFont;
        font-weight: bold;
        font-size:4em;
        text-align:center;
    }
    
    #p2{
        font-size: 1.3em;
        width:80%;
        text-align:center;
    }
}

@media screen and (max-width: 599px){

    #p1{
        font-family: sorryFont;
        font-weight: bold;
        font-size:3em;
        text-align:center;
    }
    
    #p2{
        font-size: 1em;
        width:80%;
        text-align:center;
    }
}