@font-face {
    font-family: cuteFont;
    src: url(Fonts/Cottontail\ Free.ttf);
}

@font-face {
    font-family: mainFont;
    src: url(Fonts/Poppins-Regular.ttf);
}

*{
    margin:0;
    box-sizing: border-box;
    outline:none;
    border:none;
}

html{
    scroll-behavior: smooth;
    font-family: mainFont;
}

.box{
    background-color: #f2f2f2;
}

.off-screen-menu{
    background-color:#f2f2f2;
    height:100vh;
    width: 100%;
    max-width:450px;
    position:fixed;
    top:0px;
    z-index: 1000;
    margin:0px;
    left:-450px;
    display: flex;
    flex-direction: column;
    font-size:2.5rem;
    transition: .3s ease;
    padding-top:7px;
    gap:30px;
}

.off-screen-menu ul{
    list-style-type: none;
}

.off-screen-menu.active{
    left:0;
}

.close-menu{
    justify-content: right;
    align-self: flex-end;
}

#cross{
    height:25px;
    margin-right:50px;
    margin-top:40px;
}

.pages a{
    text-decoration: none;
    color: #0D1113;
}

.pages a:hover{
    font-size:larger;
}

.search-bar{
    position:absolute;
    display:flex;
    background-color: #E8E6E6;
    width:100%;
    height:10vh;
    top:-100px;
    z-index:3;
    align-items: center;
    padding-left:10px;
    padding-right:10px;
    margin:0px;
    transition: .3s ease;
}

.search-bar.active{
    top:65px;
}

#cross-search{
    height:20px;
}

.search-bar input{
    height:70%;
    width:100%;
    background-color: #E8E6E6;
    border:none;
    border-bottom: 2px solid #3E4853;
    font-size:2rem;
}

.search-bar input::placeholder{
    font-size:2rem;
    font-family: mainFont;
    color:#3E4853;
}

.dark-filter{
    position:fixed;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background: rgba(0, 0, 0, 0.7);
    z-index:999;
    pointer-events:auto;
    visibility: hidden;
}

.dark-filter.active{
    visibility: visible;
}

.navigation{
    position:relative;
    padding:7px;
    display: flex;
    align-items:center;
    justify-content: space-between;
}
.nav-logo{
    margin:0 auto;
    z-index: 7; 
    display:flex;
    justify-content: center;
    flex:2;
}

.logo{
   max-height:50px;
   width: 100%;
   align-self: center;
}

.nav-items{
    padding: 10px;
    display: flex;
    gap: 1em;
    margin-left: auto; 
    z-index: 7;
    flex:1;
    justify-content: flex-end;
}
.item{
    height: 25px;
    width:100%;
}

.menu{
    padding:10px;
    z-index: 7;
    flex:1;
    display:flex;
    justify-content: flex-start;
}
#menu{
    height: 25px;
}

.container img{
    width:100%;
    margin-bottom: 0px;
    display: block;
}

.container{
    width:100%;
    position: relative;
    margin-bottom: 0px;
}

.text-box{
    position:absolute;
    margin:10px;
    color:#f2f2f2;
    text-align: center;
    top: 50%;
    left:50%;
    transform: translate(-50%, -50%);
    text-shadow: 1px 1px 2px black, 0 0 1em black, 0 0 0.2em black;
    font-family: cuteFont;
}

.text-box h1{
    font-size: 50px;
    margin-bottom: 20px;
}

.text-box p{
    font-size: 20px;
}

.title1{
    text-align: center;
    font-size: 80px;
    color: #0D1113;
    margin-bottom: 20px;
}

.text1{
    font-size: 20px;
    text-align: justify;
    color:#0D1113;
    padding:40px;
    margin-left:auto;
    margin-right:auto;
}

.text-container1 .c1{
    margin: 10px;
}

.text-container1{
    background-color:#f2f2f2;
    padding:10px;
}

.divider{
    width:100px;
    height:3px;
    background-color: #A0ACB9;
    display: inline-block;
}

#line{
    display:flex;
    justify-content: center;
}

.text-container2{
    background-color:#3E4853;
    display: flex;
    align-items: baseline;
    padding:0px;
}


.text-container2{
    padding-bottom: 0px;
}

#photo{
    display:block;
    width:600px;
    margin-right:10px;
}

.text2{
    color:#f2f2f2;
    width:750px;
    margin: auto 80px auto auto;
}

.text2 h2{
    font-size: 50px;
}

.text2 p{
    font-size: 20px;
    text-align: justify;
}

.text-container3{
    background-color:#f2f2f2;
    display:flex;
    flex-direction: row-reverse;
    align-items: center;
}

.text-container3 img{
    display:block;
    width:600px;
    margin-left:10px;
}
.text3{
    width: 750px;
    margin: auto auto auto 80px;
}

.text3 h2{
    font-size: 50px;
}

.text3 p{
    font-size: 20px;
    text-align: justify;
}

.text-container4{
    background-color:#3E4853;
    display: flex;
    align-items: center;
    padding:0px;
}

.text-container4 img{
    display:block;
    width:600px;
    margin-right:10px;
}

.text4{
    color:#f2f2f2;
    width:750px;
    margin: auto 80px auto auto;
}

.text4 h2{
    font-size: 50px;
}

.text4 p{
    font-size:20px;
    text-align: justify;
}

.footer{
    display:flex;
    align-items: center;
    gap:20px;
    justify-content: flex-end;
    flex:1;
    background-color: red;
}

.footer-logo{
    display:flex;
    flex-direction: column;
    justify-content: center;
    min-height:200px;
    align-items: flex-start;
    margin-left:40px;
}

#logobox{
    display:inline-block;
}
#logoF{
    height:50px;
    background-color: aqua;
}

#verticalLine{
    width:3px;
    height:150px;
    background-color:#3E4853;
}

#line2{
    display:flex;
    align-self: center;
}

.footer p{
    flex-wrap:wrap;
    width:320px;
    font-size:15px;
    text-align: justify;
}

footer{
    display:flex;
    padding:20px;
    background-color:#CDD7E1;
    min-height:200px;
    background: linear-gradient(#A0ACB9,#CDD7E1,#f2f2f2);
    justify-content: space-evenly;
    position:static;
}

.social-media{
    background-color: blue;
    flex:1;
    display:flex;
    align-self:center;
    justify-content: center;
    gap:15px;
}

.pop-up{
    background-color: #f2f2f2;
    position:absolute;
    z-index:4;
    width:25%;
    height:50%;
    right:2%;
    margin-top:1%;
    transform: scale(0);
    border-radius: 2%;
    padding:1%;
}

.pop-up.active{
    transform: scale(1);
}

.popupHeader{
    display:flex;
    align-items: baseline;
    justify-content: space-between;
}

.pop-up h3{
    font-size:1.5em;
    font-weight: lighter;
}

.pop-up hr{
    border-top: 3px solid #A0ACB9;
}

#cross-cart{
    height:20px;
}

.loadItems{
    display:flex;
    flex-direction: column;
    overflow-y:scroll;
    height:90%;
}

.cart-product{
    display:flex;
    align-items: center;
    gap:5px;
}

.cart-product img{
    width:20%;
}

.nameC{
    font-size:0.7em;
    text-wrap:wrap;
    width:47%;
}

.priceC{
    font-size:0.7em;
}

@media screen and (max-width: 1320px) and (min-width:990px){

    .off-screen-menu{
        width:300px;
        font-size:2rem;
    }

    #cross{
        height:20px;
    }

    .text-box h1{
        font-size:40px;
    }

    .text-box p{
        font-size:15px;
    }

    .text-container1 p{
        font-size:15px;
    }
    
    .title1{
        font-size:30px;
    }

    .text2{
        width:700px;
        margin: auto 40px auto auto;
    }

    .text2 p{
        font-size:15px;
    }
    
    .text2 h2{
        font-size:30px;
    }

    #photo{
        width:400px;
    }

    .text3{
        width:700px;
        margin: auto auto auto 40px;
    }

    .text3 p{
        font-size:15px;
    }
    
    .text3 h2{
        font-size:30px;
    }

    .text-container3 img{
        width:400px;
    }

    .text4{
        width:700px;
        margin: auto 40px auto auto;
    }

    .text4 p{
        font-size:15px;
    }
    
    .text4 h2{
        font-size:30px;
    }

    .text-container4 img{
        width:400px;
    }

}

@media screen and (max-width: 989px) and (min-width:600px){

    .off-screen-menu{
        width:200px;
        font-size:1rem;
    }

    .text-box p{
        font-size:10px;
    }
    
    #cross{
        height:15px;
    }

    .text-box h1{
        font-size:20px;
    }

    .text-container1 p{
        font-size:10px;
    }
    
    .title1{
        font-size:20px;
    }

    .text2{
        width:700px;
        margin: auto 20px auto auto;
    }

    .text2 p{
        font-size:10px;
    }
    
    .text2 h2{
        font-size:20px;
    }

    #photo{
        width:300px;
    }

    .text3{
        width:700px;
        margin: auto auto auto 20px;
    }

    .text3 p{
        font-size:10px;
    }
    
    .text3 h2{
        font-size:20px;
    }

    .text-container3 img{
        width:300px;
    }

    .text4{
        width:700px;
        margin: auto 20px auto auto;
    }

    .text4 p{
        font-size:10px;
    }
    
    .text4 h2{
        font-size:20px;
    }

    .text-container4 img{
        width:300px;
    }

    #logoF{
        width: 60%;
    }
    .footer-logo p{
        font-size:10px;
        width:200px;
    }

    .footer{
        gap:50px;
    }

    .social-media img{
        width:30px;
    }

    #verticalLine{
        height:100px;
        width:2px;
    }

}

@media screen and (max-width:599px){
    /*side-menu*/
    .off-screen-menu{
        width:100%;
    }
    /*ham-menu*/
    .logo{
        width:60%;
    }

    .item{
        height:15px;
    }

    .nav-items{
        gap:0.3em;
    }

    .nav-logo{
        left:55%;
    }

    #menu{
        width:60%;
    }
    /*main photo and text*/
    .text-box p{
        font-size:10px;
    }

    .text-box h1{
        font-size:16px;
        margin-bottom: 10px;
    }
    /*About us*/
    .divider{
        width:60px;
        height:2px;
    }

    .text-container1 p{
        font-size:16px;
    }
    
    .title1{
        font-size:25px;
    }
    /*text2*/
    .text-container2{
        flex-direction: column;
        align-items: center;
    }

    .text2{
        width:300px;
        align-items: center;
        margin:20px auto 20px auto;
    }

    .text2 p{
        font-size:16px;
    }
    
    .text2 h2{
        font-size:25px;
        text-align: center;
    }

    #photo{
        width:100%;
        margin:0px;
    }
    /*text3*/
    .text-container3{
        flex-direction: column;
    }

    .text3{
        width:300px;
        margin: 20px auto 20px auto;
    }

    .text3 p{
        font-size:16px;
    }
    
    .text3 h2{
        font-size:25px;
        text-align: center;
    }

    .text-container3 img{
        width:100%;
        margin:0px;
    }
    /*text 4*/
    .text-container4{
        flex-direction: column;
    }

    .text4{
        width:300px;
        margin: 20px auto 20px auto;
    }

    .text4 p{
        font-size:16px;
    }
    
    .text4 h2{
        font-size:25px;
        text-align: center;
    }

    .text-container4 img{
        width:100%;
        margin:0px;
    }
    /*footer*/
     /* Adjust footer alignment */
     .footer-logo, .footer-logo p {
        text-align: center; /* Center align footer content */
        margin: 0 auto;
    }

    #logoF {
        width: 40%;
        margin: 0 auto;
    }

    .footer {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 0px;
    }

    .social-media img {
        width: 25px;
        margin: 0 auto;
    }

    #verticalLine {
        height: 70px;
        width: 1px;
        margin: 0 auto;
    }
}