@font-face {
    font-family: cuteFont;
    src: url(Fonts/Cottontail\ Free.ttf);
}

@font-face {
    font-family: mainFont;
    src: url(Fonts/Poppins-Regular.ttf);
}

*{
    margin:0;
    box-sizing: border-box;
    outline:none;
    border:none;
}

html{
    scroll-behavior: smooth;
    font-family: mainFont;
}

.box{
    background-color: #f2f2f2;
}

.navigation{
    padding:7px;
    display: flex;
    align-items:center;
    justify-content: space-between;
}
.nav-logo{
    position:absolute;
    margin:0 auto;
    left:50%;
    transform: translateX(-50%);
}

.logo{
   max-height:50px;
   width: 100%;
   align-self: center;
}

.nav-items{
    padding: 10px;
    display: flex;
    gap: 1em;
    margin-left: auto; 
}
.item{
    height: 25px;
    width:100%;
}

.menu{
    padding:10px;
    margin-right:auto;
}
#menu{
    height: 25px;
    width:100%;
}

.container img{
    max-height:fit-content;
    width:100%;
    margin-bottom: 0px;
    display: block;
}

.container{
    max-height:fit-content;
    width:100%;
    position: relative;
    margin-bottom: 0px;
}

.text-box{
    position:absolute;
    margin:10px;
    color:#f2f2f2;
    text-align: center;
    top: 50%;
    left:50%;
    transform: translate(-50%, -50%);
    text-shadow: 1px 1px 2px black, 0 0 1em black, 0 0 0.2em black;
    font-family: cuteFont;
}

.text-box h1{
    font-size: 50px;
    margin-bottom: 20px;
}

.text-box p{
    font-size: 20px;
}

.title1{
    text-align: center;
    font-size: 80px;
    color: #0D1113;
    margin-bottom: 20px;
}

.text1{
    font-size: 20px;
    text-align: justify;
    color:#0D1113;
    padding:40px;
    margin-left:auto;
    margin-right:auto;
}

.text-container1 .c1{
    margin: 10px;
}

.text-container1{
    background-color:#f2f2f2;
}

.divider{
    width:100px;
    height:3px;
    background-color: #A0ACB9;
    display: inline-block;
}

#line{
    display:flex;
    justify-content: center;
}

.text-container2{
    background-color:#3E4853;
    display: flex;
    align-items: baseline;
    padding:0px;
}


.text-container2{
    padding-bottom: 0px;
}

#photo{
    display:block;
    width:600px;
}

.text2{
    color:#f2f2f2;
    width:600px;
    margin: auto 100px auto auto;
}

.text2 h2{
    font-size: 50px;
}

.text2 p{
    font-size: 20px;
    text-align: justify;
}

.text-container3{
    background-color:#f2f2f2;
    display:flex;
    flex-direction: row-reverse;
    align-items: center;
}

.text-container3 img{
    display:block;
    width:600px;
}
.text3{
    width: 600px;
    margin: auto auto auto 100px;
}

.text3 h2{
    font-size: 50px;
}

.text3 p{
    font-size: 20px;
    text-align: justify;
}

.text-container4{
    background-color:#3E4853;
    display: flex;
    align-items: center;
    padding:0px;
}

.text-container4 img{
    display:block;
    width:600px;
}

.text4{
    color:#f2f2f2;
    width:600px;
    margin: auto 100px auto auto;
}

.text4 h2{
    font-size: 50px;
}

.text4 p{
    font-size:20px;
    text-align: justify;
}