@font-face {
    font-family: cuteFont;
    src: url(Fonts/Cottontail\ Free.ttf);
}

@font-face {
    font-family: mainFont;
    src: url(Fonts/Poppins-Regular.ttf);
}

*{
    margin:0;
    box-sizing: border-box;
    outline:none;
    border:none;
}

html{
    scroll-behavior: smooth;
    font-family: mainFont;
}

/*Navigation + menu section starts*/
.box{
    background-color: #f2f2f2;
}

.off-screen-menu{
    background-color:#f2f2f2;
    height:100vh;
    width: 100%;
    max-width:450px;
    position:fixed;
    top:0px;
    z-index: 10;
    margin:0px;
    left:-450px;
    display: flex;
    flex-direction: column;
    font-size:2.5rem;
    transition: .3s ease;
    padding-top:7px;
    gap:30px;
}

.off-screen-menu ul{
    list-style-type: none;
}

.off-screen-menu.active{
    left:0;
}

.close-menu{
    justify-content: right;
    align-self: flex-end;
}

#cross{
    height:25px;
    margin-right:50px;
    margin-top:40px;
}

.pages a{
    text-decoration: none;
    color: #0D1113;
}

.pages a:hover{
    font-size:larger;
}

.search-bar{
    position:absolute;
    display:flex;
    background-color: #E8E6E6;
    width:100%;
    height:10vh;
    top:-100px;
    z-index:3;
    align-items: center;
    padding-left:10px;
    padding-right:10px;
    margin:0px;
    transition: .3s ease;
}

.search-bar.active{
    top:65px;
}

#cross-search{
    height:20px;
}

.search-bar input{
    height:70%;
    width:100%;
    background-color: #E8E6E6;
    border:none;
    border-bottom: 2px solid #3E4853;
    font-size:2rem;
}

.search-bar input::placeholder{
    font-size:2rem;
    font-family: mainFont;
    color:#3E4853;
}

.dark-filter{
    position:fixed;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background: rgba(0, 0, 0, 0.7);
    z-index:9;
    pointer-events:auto;
    visibility: hidden;
}

.dark-filter.active{
    visibility: visible;
}

.navigation{
    padding:7px;
    display: flex;
    align-items:center;
    justify-content: space-between;
}
.nav-logo{
    position:absolute;
    margin:0 auto;
    left:50%;
    transform: translateX(-50%);
    z-index: 7;
}

.logo{
   max-height:50px;
   width: 100%;
   align-self: center;
}

.nav-items{
    padding: 10px;
    display: flex;
    gap: 1em;
    margin-left: auto; 
    z-index: 7;
}
.item{
    height: 25px;
    width:100%;
}

.menu{
    padding:10px;
    margin-right:auto;
    z-index: 7;
}
#menu{
    height: 25px;
    width:100%;
}

/*Navigation + menu section ends*/

/*Hero section starts*/

.hero{
   width:100%;
   position:relative;
}

.hero img{
    width:100%;
    display:block;
}

#hero-title{
    position:absolute;
    color:#f2f2f2;
    text-align: center;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
    text-shadow: 1px 1px 2px black, 0 0 1em black, 0 0 0.2em black;
    font-family: cuteFont;
}

.hero h1{
    font-size:10rem;
}
/*Hero section ends*/

/*page description starts*/

.description{
    background-color:#f2f2f2;
    display:flex;
    justify-content: center;
}

.description p{
    width:75%;
    text-align:center;
    margin:10%;
    font-size:1.2em;
    font-style: italic;
}

/*page description ends*/

/*Products section starts*/
#title{
    display:flex;
    justify-content: center;
    padding:5%;
}

#title h2{
    font-size:2em;
}

.products{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 2em;
    row-gap: 2em;
    padding:0 5% 5% 5%;
}

.product{
    display:flex;
    flex-direction:column;
    justify-content: space-around;
    align-items:center;
    border-style: solid;
    border-color: #636970;
    padding:0.5em;
}

.product img{
    width:100%;
}

.name{
    font-size:1em;
    text-align: center;
}

.button{
    border-style: double;
    padding:0.2em 0.5em 0.2em 0.5em;
}

/*Products section ends*/

